.hide-sidebar {
  width: 100%;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #a7a7a7;
  border-radius: 10px;
  max-height: 25px;
}
/* scrollbar end */

/* Select color */
::selection {
  background: #ffb7b7;
  color: #000000;
}

::-moz-selection {
  background: #ffb7b7;
  color: #000000;
}
/* Select color end*/

/* form */
.form {
}

.form-group {
  color: #888888;
}

.form-control {
  border: 1px solid gray;
  border-radius: 5px;
}
/* form end*/

/* pagination */
.page-item .page-link {
  background-color: #343a40;
  color: white;
}

.page-item.active .page-link {
  background-color: #52585d;
  border-color: #212529;
}
/* pagination end */
